.DS_Store
coding-pages
_book
node_modules
build
custom
npm-debug.log
.idea
*.swp
*.dtmp

# Obsidian
**/.obsidian/cache*
**/.obsidian/workspace*
**/.obsidian/plugins/*/*

# Allow data.json files under plugins - we want to sync plugin settings, if any
!**/.obsidian/plugins/*/data.json
